<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <title>Novo Registo</title>
</head>
<body>
  <div class="registration">
    <h1>Novo Registo</h1>
    <form role="form" action="registrations" method="post">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Escreva o seu nome">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Escreva o email">
    </div>
    <div class="form-group">
      <label for="course">Curso</label>
      <input type="course" class="form-control" name="course" id="course" placeholder="Escreva o curso">
    </div>
    <button type="submit" class="btn btn-default">Registar</button>
  </form>
  </div>
</body>
</html>
