<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>Registrations</title>
</head>
<body>

  <div class="registrations">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Curso</th>
        </tr>
      </thead>
      <tbody>
        {% for registration in registrations %}
        <tr>
          <td>{{registration.name}}</td>
          <td>{{registration.email}}</td>
          <td>{{registration.course}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</body>
</html>
